<h1>Usunięcie kategorii</h1>



<%= form_for(:category, :url => {:action => 'delete_category', :id => @category.id}) do |form| %>

  <p>Czy na pewno mam usunąć kategorie?</p>
  <p><%= @category.name %></p>

  <div>
    <%= submit_tag("Usuń") %>
    <%= link_to("Powrót", {:action => 'index'}, :class => 'btn btn-warning') %>
  </div>
<% end %>